body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #1e3552; 
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #1e3552; 
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007BFF; 
}

section {
    background-color: #f0f5ff; 
    padding: 40px 0;
}

.instructor img {
    max-width: 100%;
    border-radius: 8px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3; 
}

.footer {
    background-color: #1e3552; 
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
